<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - howest movie shop</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/screen.css" />
</head>
<body>
    <header>
        <h1><a asp-controller="Movie" asp-action="">howest movie shop</a></h1>
        <nav>
            <ul>
                <li><a asp-controller="Movie" asp-action="">Collection</a></li>
                <partial name="_LoginPartial" />    
                <li>
                    <a class="viewcart" href="/ShoppingCart"><span>0</span>view cart
                    </a>
             </li>
        </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
    <div>
        <h2>Address</h2>
        <address>
            Rijselstraat 5, <br/>
            8000 Brugge
        </address>
    </div>
    <p>All images courtesy of flaticon</p>
    </footer>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
