@{
    ViewData["Title"] = "Shoppingcart";
}


<main>
    <section id="cart">
    <div id="cartoverview">
        <h2>Your shopping cart</h2>
        <p>You have selected the following movies so far:</p>
        <div class="items">
            <table>
                <thead>
                <tr>
                    <th>Movie</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>2001: A Space Odyssey.</td>
                            <td>€ 19.90</td>
                        </tr>
                        <tr>
                            <td>1917.</td>
                            <td>€ 7.72</td>
                        </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td>
                        Total:€ 27.62
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    @if(Context.User.Identity.IsAuthenticated){
    if(User.IsInRole("Admin"))
    {
     <a class="order" asp-controller="ShoppingCart" asp-action="ShoppingCart">Proceed to checkout</a>
    }
     if(User.IsInRole("Member"))
    {
     <a class="order" asp-controller="ShoppingCart" asp-action="ShoppingCart">Proceed to checkout</a>
    }
    }
    @* For unknown user *@
    else
    {<a asp-area="Identity" asp-page="/Account/Login">Login</a><span> / </span><a asp-area="Identity" asp-page="/Account/Register">Register</a>}
    </div>
</section>
</main>
