@model howest_movie_shop.ViewModels.Movies.MoviesViewModel
@{
    ViewData["Title"] = "Shoppingcart";
}
<main>
    <section id="cart">
    <div id="cartoverview">
        <h2>Your shopping cart</h2>
        <p>You have selected the following movies so far:</p>
        <div class="items">
            <table>
                <thead>
                <tr>
                    <th>Movie</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Movies)
                    {
                        <tr>
                            <td>@item.title</td>
                            <td>@Model.price</td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td>
                        Total:€ @Model.sum
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    @if(Context.User.Identity.IsAuthenticated){
    if(User.IsInRole("Admin"))
    {
     <a class="order" asp-controller="ShoppingCart" asp-action="Checkout">Proceed to checkout</a>
    }
     if(User.IsInRole("Member"))
    {
     <a class="order" asp-controller="ShoppingCart" asp-action="Checkout">Proceed to checkout</a>
    }
    }
    @* For unknown user *@
    else
    {<a asp-area="Identity" asp-page="/Account/Login">Login</a><span> / </span><a asp-area="Identity" asp-page="/Account/Register">Register</a>}
    </div>
</section>
</main>
